In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.contingency_tables import mcnemar
from statsmodels.stats.multitest import fdrcorrection

In [2]:
df = pd.read_table(
    "../data/output/comparative_analysis/annotated_domains/10000/clusters/clique.clusters.tsv.gz"
)
df1 = df[df["label"] == "001_MCF10A_REP1"]
df2 = df[df["label"] == "002_MCF10A_REP2"]
df3 = df[df["label"] == "003_MCF10AT1_REP1"]
df4 = df[df["label"] == "004_MCF10AT1_REP2"]
df5 = df[df["label"] == "005_MCF10CA1a_REP1"]
df6 = df[df["label"] == "006_MCF10CA1a_REP2"]

clusters = np.sort(df["cluster"].unique())

df1

,clique,B3.state,B2.state,B1.state,B0.state,A0.state,A1.state,A2.state,A3.state,state.mode,state.stderr,state.mean_abs_dev,clique_size,label,cluster,cluster_pval,outlier_score
0,3558,0.0,0.000000,0.000000,0.040000,0.000000,0.240000,0.720000,0.000000,A2,0.096995,0.518400,5,001_MCF10A_REP1,-1,0.0,9.095546e-02
1,3645,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,A3,0.000000,0.000000,5,001_MCF10A_REP1,7,1.0,0.000000e+00
2,3692,0.0,0.000000,0.000000,0.000000,0.000000,0.015385,0.430769,0.553846,A3,0.065550,0.511243,4,001_MCF10A_REP1,7,0.0,NaN
3,3649,0.0,0.028571,0.028571,0.085714,0.000000,0.014286,0.714286,0.128571,A2,0.165862,0.931429,5,001_MCF10A_REP1,-1,0.0,6.131578e-01
4,3656,0.0,0.000000,0.400000,0.400000,0.000000,0.200000,0.000000,0.000000,"B1,B0",0.147710,0.800000,5,001_MCF10A_REP1,-1,0.0,1.859227e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2739,95,0.0,0.000000,0.568421,0.000000,0.431579,0.000000,0.000000,0.000000,B1,0.101633,0.981274,5,001_MCF10A_REP1,-1,0.0,8.613079e-16
2740,70,0.0,0.275000,0.375000,0.000000,0.350000,0.000000,0.000000,0.000000,B1,0.193286,1.102500,4,001_MCF10A_REP1,-1,0.0,5.724617e-01
2741,92,0.0,0.000000,0.720000,0.000000,0.280000,0.000000,0.000000,0.000000,B1,0.126996,0.806400,3,001_MCF10A_REP1,-1,0.0,8.613079e-16
2742,240,0.0,0.020000,0.980000,0.000000,0.000000,0.000000,0.000000,0.000000,B1,0.019799,0.039200,5,001_MCF10A_REP1,2,1.0,0.000000e+00
2743,1224,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,A2,0.000000,0.000000,3,001_MCF10A_REP1,6,1.0,0.000000e+00

In [3]:
data = []
for cluster in clusters:
    m = np.zeros([2, 2], dtype=int)
    m[0, 0] = len(df1[df1["cluster"] == cluster])
    m[0, 1] = len(df3[df3["cluster"] == cluster])
    m[1, 0] = len(df2[df2["cluster"] == cluster])
    m[1, 1] = len(df4[df4["cluster"] == cluster])

    res = mcnemar(m, exact=True)
    data.append(["WT", "T1", m, cluster, res.statistic, res.pvalue])

dff1 = pd.DataFrame(
    data, columns=["cond1", "cond2", "m", "cluster", "mcnemar_stat", "mcnemar_pval"]
)
dff1

  cond1 cond2                         m  cluster  mcnemar_stat  mcnemar_pval
0    WT    T1  [[847, 526], [811, 597]]       -1         526.0  6.380640e-15
1    WT    T1  [[135, 173], [127, 176]]        0         127.0  9.261207e-03
2    WT    T1      [[97, 56], [85, 65]]        1          56.0  1.805615e-02
3    WT    T1  [[210, 219], [195, 234]]        2         195.0  2.582863e-01
4    WT    T1      [[41, 23], [37, 24]]        3          23.0  9.246098e-02
5    WT    T1  [[323, 316], [301, 330]]        4         301.0  5.730491e-01
6    WT    T1    [[165, 80], [154, 81]]        5          80.0  1.505286e-06
7    WT    T1  [[534, 260], [520, 296]]        6         260.0  7.865162e-21
8    WT    T1  [[348, 168], [340, 177]]        7         168.0  1.854348e-14
9    WT    T1      [[44, 25], [39, 30]]        8          25.0  1.034219e-01

In [4]:
data = []
for cluster in clusters:
    m = np.zeros([2, 2], dtype=int)
    m[0, 0] = len(df1[df1["cluster"] == cluster])
    m[0, 1] = len(df5[df5["cluster"] == cluster])
    m[1, 0] = len(df2[df2["cluster"] == cluster])
    m[1, 1] = len(df6[df6["cluster"] == cluster])

    res = mcnemar(m, exact=True)
    data.append(["WT", "C1", m, cluster, res.statistic, res.pvalue])

dff2 = pd.DataFrame(
    data, columns=["cond1", "cond2", "m", "cluster", "mcnemar_stat", "mcnemar_pval"]
)
dff2

  cond1 cond2                         m  cluster  mcnemar_stat  mcnemar_pval
0    WT    C1  [[847, 595], [811, 563]]       -1         595.0  9.204669e-09
1    WT    C1  [[135, 182], [127, 170]]        0         127.0  2.076832e-03
2    WT    C1      [[97, 74], [85, 74]]        1          74.0  4.278398e-01
3    WT    C1  [[210, 274], [195, 252]]        2         195.0  3.068535e-04
4    WT    C1      [[41, 56], [37, 53]]        3          37.0  6.138590e-02
5    WT    C1  [[323, 341], [301, 334]]        4         301.0  1.236870e-01
6    WT    C1  [[165, 130], [154, 117]]        5         130.0  1.722080e-01
7    WT    C1  [[534, 521], [520, 483]]        6         520.0  1.000000e+00
8    WT    C1  [[348, 289], [340, 274]]        7         289.0  4.610644e-02
9    WT    C1      [[44, 54], [39, 49]]        8          39.0  1.461770e-01

In [5]:
df = pd.concat([dff1, dff2])
df["mcnemar_pval_adj"] = fdrcorrection(df["mcnemar_pval"])[1]

df["mcnemar_pval"] = [f"{pv:.2g}" for pv in df["mcnemar_pval"]]
df["mcnemar_pval_adj"] = [f"{pv:.2g}" for pv in df["mcnemar_pval_adj"]]
df.drop(columns=["m"]).to_csv("/tmp/clique_cluster_mcnemar.tsv", sep="\t", index=False)
df

,cond1,cond2,m,cluster,mcnemar_stat,mcnemar_pval,mcnemar_pval_adj
0,WT,T1,"[[847, 526], [811, 597]]",-1,526.0,6.4e-15,6.4e-14
1,WT,T1,"[[135, 173], [127, 176]]",0,127.0,0.0093,0.023
2,WT,T1,"[[97, 56], [85, 65]]",1,56.0,0.018,0.04
3,WT,T1,"[[210, 219], [195, 234]]",2,195.0,0.26,0.3
4,WT,T1,"[[41, 23], [37, 24]]",3,23.0,0.092,0.15
5,WT,T1,"[[323, 316], [301, 330]]",4,301.0,0.57,0.6
6,WT,T1,"[[165, 80], [154, 81]]",5,80.0,1.5e-06,6e-06
7,WT,T1,"[[534, 260], [520, 296]]",6,260.0,7.9e-21,1.6e-19
8,WT,T1,"[[348, 168], [340, 177]]",7,168.0,1.9e-14,1.2e-13
9,WT,T1,"[[44, 25], [39, 30]]",8,25.0,0.1,0.16
0,WT,C1,"[[847, 595], [811, 563]]",-1,595.0,9.2e-09,4.6e-08
1,WT,C1,"[[135, 182], [127, 170]]",0,127.0,0.0021,0.0059
2,WT,C1,"[[97, 74], [85, 74]]",1,74.0,0.43,0.48
3,WT,C1,"[[210, 274], [195, 252]]",2,195.0,0.00031,0.001
4,WT,C1,"[[41, 56], [37, 53]]",3,37.0,0.061,0.11
5,WT,C1,"[[323, 341], [301, 334]]",4,301.0,0.12,0.18
6,WT,C1,"[[165, 130], [154, 117]]",5,130.0,0.17,0.22
7,WT,C1,"[[534, 521], [520, 483]]",6,520.0,1,1
8,WT,C1,"[[348, 289], [340, 274]]",7,289.0,0.046,0.092
9,WT,C1,"[[44, 54], [39, 49]]",8,39.0,0.15,0.19